.demo-iframe-container {
  overflow: hidden;
  margin-top: 100px;
  padding-top: calc(100vh - 100px);
  position: relative;
}

.demo-iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: calc(100% + 30px);
  margin-left: -15px;
}

.balloon-game-iframe-container {
  overflow: hidden;
  padding-top: 100vh;
  position: relative;
}

.balloon-game-iframe-container iframe {
  border: 0;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.balloon-popping-iframes iframe {
  border: 0;
  height: 570px;
  width: 100%;
}
